Click==7.0
configparser==3.5.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
MySQL-python==1.2.5
PyYAML==3.13
SQLAlchemy==1.2.12
Werkzeug==0.14.1
